.callout-header {
  background-color: #a8e3d7 !important;
}

.callout-note {
  border-left-color: #548641 !important;
}

.callout-warning {
  border-left-color: #E67E22 !important;
}

.callout-tip {
  border-left-color: #15a589 !important;
}
